.gradient-bold {
	position: relative;
	border-radius: 1.5rem;
	width: 100%;
}
.gradient-bold::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 1.5rem;
	padding: 4px;
	background: linear-gradient(135deg, oklch(var(--s)) 0%, oklch(var(--s)) 50%, oklch(var(--p)) 100%);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}
.gradient-border {
	position: relative;
	border-radius: 1rem;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	width: 100%;
}
.gradient-border::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 1rem;
	padding: 2px;
	width: 100%;
	background: linear-gradient(90deg, oklch(var(--s)) 0%, oklch(var(--s)) 50%, oklch(var(--p)) 100%);
	background-size: 400% auto;
	background-position: 0 0;
	/*opacity: 0.5;*/
	transition: background-position 0.3s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}
.gradient-border:hover::before {
	background-position: -50% 0;
	opacity: 1;
}
/*scrollbar-color:*/
:root {
	--scrollbar-foreground: #4E3A9C;
	--scrollbar-background: #1B1D1D;
}

* {
	/* Foreground, Background */
	scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}
/* Background */
::-webkit-scrollbar {
	/*scrollbar-color: rebeccapurple green;*/
	background: var(--scrollbar-background);
}
/* Foreground */
::-webkit-scrollbar-thumb { 
	background: var(--scrollbar-foreground);
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	border-radius: 10px;
}

/* vue transition */
.nested-enter-active,
.nested-leave-active,
.nested-enter-active .inner,
.nested-leave-active .inner {
	transition: all 0.3s;
}
.nested-enter-from, .nested-leave-to {
	opacity: 0;
}

.nested-enter-active .inner, .nested-leave-active .inner {
	transform: translateY(100%);
	opacity: 0;
}
